<section aria-label="Author">
    <wa-card appearance="outlined">
        {% if author.avatar %}
        <img slot="media" src="{{ author.avatar | prepend: site.baseurl }}" alt="{{ author.name }}">
        {% endif %}

        <h3>{{ author.name }}</h3>
        {% if author.position %}
        <p>{{ author.position }}</p>
        {% endif %}
        {% if author.description %}
        <p>{{ author.description }}</p>
        {% endif %}

        <wa-button slot="footer" href="{{ author.url | prepend: site.baseurl }}" appearance="outlined">View author</wa-button>
    </wa-card>
</section>
