<article>
    <wa-card appearance="outlined">
        {% if post.intro_image %}
        <img slot="media" src="{{ post.intro_image | prepend: site.baseurl }}" alt="{{ post.title }}">
        {% endif %}

        <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <p>Published {{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}</p>
        <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 300 }}</p>

        <wa-button slot="footer" href="{{ site.baseurl }}{{ post.url }}" variant="brand">Read more</wa-button>
    </wa-card>
</article>
