<div>
    {% if page.facebook %}
    <wa-button href="{{ page.facebook }}" target="_blank" rel="noopener noreferrer" appearance="outlined">Facebook</wa-button>
    {% endif %}

    {% if page.twitter %}
    <wa-button href="{{ page.twitter }}" target="_blank" rel="noopener noreferrer" appearance="outlined">X</wa-button>
    {% endif %}

    {% if page.github %}
    <wa-button href="{{ page.github }}" target="_blank" rel="noopener noreferrer" appearance="outlined">GitHub</wa-button>
    {% endif %}

    {% if page.gitlab %}
    <wa-button href="{{ page.gitlab }}" target="_blank" rel="noopener noreferrer" appearance="outlined">GitLab</wa-button>
    {% endif %}

    {% if page.instagram %}
    <wa-button href="{{ page.instagram }}" target="_blank" rel="noopener noreferrer" appearance="outlined">Instagram</wa-button>
    {% endif %}

    {% if page.linkedin %}
    <wa-button href="{{ page.linkedin }}" target="_blank" rel="noopener noreferrer" appearance="outlined">LinkedIn</wa-button>
    {% endif %}

    {% if page.medium %}
    <wa-button href="{{ page.medium }}" target="_blank" rel="noopener noreferrer" appearance="outlined">Medium</wa-button>
    {% endif %}

    {% if page.stack_overflow %}
    <wa-button href="{{ page.stack_overflow }}" target="_blank" rel="noopener noreferrer" appearance="outlined">Stack Overflow</wa-button>
    {% endif %}

    {% if page.tiktok %}
    <wa-button href="{{ page.tiktok }}" target="_blank" rel="noopener noreferrer" appearance="outlined">TikTok</wa-button>
    {% endif %}

    {% if page.youtube %}
    <wa-button href="{{ page.youtube }}" target="_blank" rel="noopener noreferrer" appearance="outlined">YouTube</wa-button>
    {% endif %}

    {% if page.pinterest %}
    <wa-button href="{{ page.pinterest }}" target="_blank" rel="noopener noreferrer" appearance="outlined">Pinterest</wa-button>
    {% endif %}
</div>
