---
layout: default
---

{% unless page.hide_intro %}
{% if page.intro or page.intro_image %}
<section aria-label="Post intro">
    <wa-card appearance="outlined">
        {% unless page.hide_intro_image %}
        {% if page.intro_image %}
        <img slot="media" src="{{ page.intro_image | prepend: site.baseurl }}" alt="{{ page.title }}">
        {% endif %}
        {% endunless %}

        {% if page.intro %}
        <p>{{ page.intro }}</p>
        {% endif %}
    </wa-card>
</section>
{% endif %}
{% endunless %}

<main role="main">
    <article>
        <wa-card appearance="plain">
            <p><strong>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</strong></p>
            {{ content }}

            {% if page.tags and page.tags.size > 0 %}
            <div slot="footer">
                {% for tag in page.tags %}
                <wa-tag variant="brand" appearance="filled">{{ tag }}</wa-tag>
                {% endfor %}
            </div>
            {% endif %}
        </wa-card>
    </article>

    {% assign author = site.authors | where: 'name', page.author | first %}
    {% if author %}
    {% include author-media.html %}
    {% endif %}
</main>
