<footer slot="footer">
  <div class="wa-split">
  <div>Contact us at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a></div>
  <div>
    &copy; Punk N Poultry Farm <%= Time.now.year %> • All rights reserved.
  </div>
</div>
</footer>
